// app global css in SCSS form
@font-face {
  font-family: 'jetBrains Light';
  src: url(./fonts/JetBrainsMono-Light.ttf);
}

@font-face {
  font-family: 'jetBrains';
  src: url(./fonts/JetBrainsMonoNL-Regular.ttf);
}

@font-face {
  font-family: 'jetBrains Bold';
  src: url(./fonts/JetBrainsMono-Bold.ttf);
}

@font-face {
  font-family: 'jetBrains Medium';
  src: url(./fonts/JetBrainsMono-Medium.ttf);
}

@font-face {
  font-family: 'jetBrains ExtraBold';
  src: url(./fonts/JetBrainsMono-ExtraBold.ttf);
}

*, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'jetBrains';
}

a {
  text-decoration: none;
}