// app global css in SCSS form
@font-face {
    font-family: Poppins Light;
    src: url(./fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins Medium;
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins SemiBold;
    src: url(./fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins Bold;
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins ExtraBold;
    src: url(./fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: JetBrains Light;
    src: url(./fonts/JetBrainsMono-Light.ttf);
}

@font-face {
    font-family: JetBrains;
    src: url(./fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: JetBrains Medium;
    src: url(./fonts/JetBrainsMono-Medium.ttf);
}

@font-face {
    font-family: JetBrains SemiBold;
    src: url(./fonts/JetBrainsMono-SemiBold.ttf);
}

@font-face {
    font-family: JetBrains Bold;
    src: url(./fonts/JetBrainsMono-Bold.ttf);
}

@font-face {
    font-family: JetBrains ExtraBold;
    src: url(./fonts/JetBrainsMono-ExtraBold.ttf);
}